<a href="https://colab.research.google.com/github/Edinaldo358/FDS.CURSO/blob/main/1%C2%B0aula_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
#hello world é o começo de tudo!!
print("hello world")

hello world

In [ ]:
1
2
3
4
5
6

In [ ]:
x =10
nome = 'aluno'
nota = 8.7
fez_inscricao = True

In [42]:
print(type(x))
print(type(nome))
print(type(nota))
print(type(fez_inscricao))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
1
2
3
4
5
6
7
8
9

In [ ]:
nome = input("Digite seu nome:")

In [ ]:
print(nome)

In [66]:
#formatadores de caracteres
print("Olá %s, bem-vindo a disciplina de programação. Parabens pelo seu primeiro hello world" % (nome))

Olá Edinaldo, bem-vindo a disciplina de programação. Parabens pelo seu primeiro hello world

In [67]:
#F-string
print(f"Olá {nome}, bem-vindo a disciplina de programação. Parabens pelo seu primeiro hello world")

Olá Edinaldo, bem-vindo a disciplina de programação. Parabens pelo seu primeiro hello world

In [68]:
Nota_1 = int(input("Digite a primeira nota:"))
Nota_2 = int(input("Digite a segunda nota:"))
Nota_3 = int(input("Digite a terceira nota:"))
Nota_4 = int(input("Digite a quarta nota:"))
#observe que utilizamos a função int(), pois sem ela, o Python entenderia que as notas seriam String

Digite a primeira nota:5
Digite a segunda nota:6
Digite a terceira nota:7
Digite a quarta nota:9

In [97]:
#condição para a aprovaçãodo aluno
media = (Nota_1+Nota_2+Nota_3+Nota_4)/4

if media >= 7:
  situacao = ("Aprovado")
else:
  situacao = ("Reprovado")

In [98]:
#dadas as notas mostramos a média final e a situação do aluno
print(f"A média das notas é: {media}")
print(f"Situação do aluno: {situacao}")

A média das notas é: 6.75
Situação do aluno: Reprovado

In [ ]:
1
2
3
4
5
6
7
8
9
10
11

In [75]:
3>2

True

In [77]:
2 == 2

True

In [79]:
a = 'aluno'
b = 'aluna'

a is not b

True

In [12]:
 idade = 18

 if idade < 18:
     print("Menor de idade")
 elif idade >= 18 and idade < 65:
     print("Adulto")
 else:
     print("Idoso")

Adulto

In [ ]:
1
2
3
4

In [15]:
# Bem-vindo à Maquina de Venda Automática de Ingressos de Cinema

#Solicita a idade do cliente
idade = int(input("Por favor, digite sua idade: "))

#Verificar a idade para sugestão de filmes
if idade < 12:
    print("Recomendamos o filme infantil FILME 1.")
elif 12 <= idade < 18:
   print("Recomendamos o filme infantil FILME 2.")
else:
   print("Recomendamos o filme infantil FILME 3.")

#Verifica a disponibilidade de Ingressos
quantidade_ingressoss = 10 # Suponha que haja 10 ingressos disponiveis
if quantidade_ingressoss > 0:
    print("Ingressos estão disponiveis. Divirta-se no cinema!")
else:
    print("Desculpe, todos os ingressos estão esgotados para hoje.")

Por favor, digite sua idade: 20
Recomendamos o filme infantil FILME 3.
Ingressos estão disponiveis. Divirta-se no cinema!

In [ ]:
numeros = [1, 2, 3, 4, 5]
numeros

numeros

In [ ]:
[1, 2, 3, 4, 5]

In [6]:
for num in numeros:
    print(num)

1
2
3
4
5

In [ ]:
1
2
3
4
5
6
7
8
9
10

In [8]:
numero = int(input("Digite um número (ou 0 para sair): "))

while numero != 0:
  if numero % 2 == 0:
    print("O número é par.")
  else:
    print("O numero é ímpar.")
  numero = int(input("Digite um número (ou 0 para sair): "))

Digite um número (ou 0 para sair): 155158445845
O numero é ímpar.
Digite um número (ou 0 para sair): 156648
O número é par.
Digite um número (ou 0 para sair): 15125918856
O número é par.
Digite um número (ou 0 para sair): 15616258241323
O numero é ímpar.
Digite um número (ou 0 para sair): 0

In [ ]:
1
2
3
4
5
6
7
8
9
10
11
12

In [12]:
for x in range(5): #lembre-se que o range começa em 0
    print(x)

0
1
2
3
4

In [10]:
for y in range(2, 7): #observe que aqui o 7 não entra no looping
    print(y)

2
3
4
5
6

In [11]:
for z in range(1, 11, 2): #observe que aqui o 11 não entra no looping
    print(z)

1
3
5
7
9

In [ ]:
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [18]:
for numero in range(10, 11):
    if numero % 2 == 0:
      print("O primeiro número par encontrado é:", numero)
      break

O primeiro número par encontrado é: 10

In [21]:
for numero in range(1, 11):
   if numero == 5:
      continue
   print(numero)

1
2
3
4
6
7
8
9
10

In [ ]:
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [24]:
# Lista de filmes parta classificação
filmes = ["Filme 1", "Filme 2", "Filme 3", "Filme 4", "Filme 5"]

filmes

['Filme 1', 'Filme 2', 'Filme 3', 'Filme 4', 'Filme 5']

In [ ]:
# Mensagem de boas vindas
print("Bem-vindo à classificação de filmes!")
print("Você tem cinco filmes para classificar.")
print("Digite '0' a qualquer momento para parar.\n")

# Loop para interar sobre cada filme na lista
for filme in filmes:
  # Solicita a classificação ao usuario
  classificação = input(f"Como você classificaria '{filme}' de 1 a 5? (ou 0 para parar): ")

  # Verifica se o usuario deseja parar
  if classificação == '0':
    print("Que pena que você não irá classificar mais os filmes.")
    break # Encerra o loop principal

    # Converte a classificação para um número inteiro
    classificação = int(classificação)

    # Verifica se a classificação está dentro do intervalo válido
    if classificação < 1 or classificação > 5:
      print("Por favor, digite uma classificação válida de 1 a 5.")
    else:
        # Exibe a classificação e passa para o próximo filme
        print(f"Você classificou '{filme}' com {classificação} estrelas.\n")

# Mensagem de agradecimento ao finalizar
print("Obrigado por classificar os filmes!")

In [ ]:
1
1
1
1
1
1
1
1
1
1

In [100]:
# Criar uma lista de numeros
numeros = [1, 2, 3, 4, 5,6]#,7,8,9,10,11,11, 'a',True]

# Usa a função len() para calcular o comprimento da lista
comprimento = len(numeros)

# Imprime o comprimento da lista
print("O comprimento da lista é:", comprimento)

O comprimento da lista é: 6